---
import Layout from "../../layouts/Layout.astro";
import { getUser } from "../../../backend/backend.mjs";
const { id } = Astro.params;
const user = await getUser(id);

---
<!-- {user.nom} {user.prenom} {user.img} {user.specialite} {user.Pseudo} {user.age} {user.email} -->
<Layout>
    <h1 class="text-center text-5xl my-10"> Profil</h1>
    <div class="flex gap-5 justify-center">
        <img src={user.img} class="rounded-full h-20 w-20" alt="">
        <div class="flex flex-col items-center ">
        <p>{user.Pseudo}</p>
        <p>{user.email}</p>
        </div>
    </div>

    <div class="grid grid-cols-2 gap-3 mt-20">
        <div>
        <p class="text-center">{user.nom}</p>
        <p class="text-center">{user.prenom}</p>
        </div>
        <p class="text-center">{user.age}</p>
        <p class="text-center">{user.specialite}</p>
        <p class="text-center">Mes postes</p>
    </div>
    <div class="mt-20 flex justify-center ">
        <hr class="w-100 border-2 border-(--violet)">
    </div>

    <p class="text-3xl text-center my-20">Type d'abonnement</p>
    <div class="flex justify-center ">
    <div class="flex flex-col gap-3 bg-(--blanc-casse) w-75 justify-center rounded-2xl items-center p-20 lg:w-100">
        <p class="text-center font-bold text-2xl text-(--gris-anthracite) mb-5 lg:text-4xl">Basique</p>
        <p class="text-center bg-black p-3 rounded-2xl">0€ / mois</p>
        <div>
            <ul class="*:text-center *:text-(--gris-anthracite) *:mt-3">
                <li>Accès à l'IA</li>
                <li>Forum en ligne</li>
                <li>Prompts limités</li>
            </ul>
        </div>
        <a class="text-center bg-(--gris) mt-5 p-3 rounded-2xl px-5" href="">En profiter</a>
    </div>
    </div>

    <p class="text-center mt-20">Améliroer <span class="text-(--violet)">maintenant</span> et profiter de <span class="text-(--violet)">multiples</span> avantages !</p>

    <div class="flex justify-center mt-20 ">
    <div class="flex flex-col gap-3 bg-(--blanc-casse) w-75 justify-center rounded-2xl items-center p-20 lg:w-100">
        <p class="text-center font-bold text-2xl text-(--violet) mb-5 lg:text-4xl">Premium</p>
        <p class="text-center bg-black p-3 rounded-2xl">0€ / mois</p>
        <div>
            <ul class="*:text-center *:text-(--gris-anthracite) *:mt-3">
                <li>Accès à l'IA</li>
                <li>Forum en ligne</li>
                <li>Prompts limités</li>
            </ul>
        </div>
        <a class="text-center bg-(--violet) mt-5 p-3 rounded-2xl px-5" href="">En profiter</a>
    </div>
    </div>
</Layout>