---
import { getPost, getUserbyPost } from "../../../backend/backend.mjs";
import Layout from "../../layouts/Layout.astro";
import Picture from "astro/components/Picture.astro";

const { id } = Astro.params;
const post = await getPost(id);
if(!post){
   return Astro.redirect('/forum');
};
const user = await getUserbyPost(id);
if(!user){
   return Astro.redirect('/forum');
};

// console.log(post);
console.log(user);
---
<Layout titre={post.Titre}>
    <div class="w-11/12 mx-auto space-y-8">
        
        <div class="bg-[var(--blanc-casse)] rounded-sm shadow-lg p-6 mt-20">

            <div class="flex items-start justify-between mb-6 ">
                <div class="flex items-center space-x-3 lg:flex-col text-center">
                    <div class="w-24 h-24 rounded-full overflow-hidden">
                        <a href=`/profil/${user.expand.user.id}`><img src={user.img} alt={user.img} class="w-full h-full object-cover rounded-full"></a>
                    </div>
                    <div>
                        <h3 class="font-semibold text-gray-800">{user.expand.user.Pseudo}</h3>
                        <p class="text-sm text-gray-500">{post.created}</p>
                        <p class="text-sm text-gray-500">15h21</p>
                    </div>
                </div>
                
                <div class="flex items-center space-x-3">
                    <button class="text-gray-400 hover:text-gray-600">
                        <svg width="16" height="16" viewBox="0 0 16 16" fill="currentColor">
                            <circle cx="8" cy="2" r="1.5"/>
                            <circle cx="8" cy="8" r="1.5"/>
                            <circle cx="8" cy="14" r="1.5"/>
                        </svg>
                    </button>
                    <button class="text-purple-500 hover:text-purple-600">
                        <svg width="20" height="20" viewBox="0 0 24 24" fill="currentColor">
                            <path d="M12 21.35l-1.45-1.32C5.4 15.36 2 12.28 2 8.5 2 5.42 4.42 3 7.5 3c1.74 0 3.41.81 4.5 2.09C13.09 3.81 14.76 3 16.5 3 19.58 3 22 5.42 22 8.5c0 3.78-3.4 6.86-8.55 11.54L12 21.35z"/>
                        </svg>
                    </button>
                </div>
            </div>
        <hr class="border-gray-200 mb-4">
        <div>
            <h2 class="text-xl font-bold text-gray-800 mb-4">{post.Titre}</h2>
            <div class="text-gray-600 text-sm leading-relaxed" set:html={post.Text}> </div>
        </div>
    </div>
</Layout>